.jobs{
	p{
		text-align: center;
		width: 90%;
		max-width: 800px;
		margin: auto;
	}

	.text-1{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 50px;
		margin-top: 50px;
	}

	#job-listings{
		margin-top: 0;

		.job{
			border-bottom: 1px solid #e5e5e5;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 100px;

			p{
				display: block;
				width: 80%;
				max-width: 800px;
				margin-bottom: 20px;
			}
		}

		.job:last-child{
			border-bottom: none;
		}
	}
}
