<div data-component="home" ng-controller="HomeController">
    <?php $image = wp_get_attachment_image_src(get_field('hero_image'), 'full'); ?>
    <div class="hero">
        <div class="hero parallax" style="background-image: url('<?php echo $image[0] ?>');background-position: left;"></div>
        <div class="container-fluid">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="feature">
                    ANDigital: Building Your Digital Future
                    <br/>
                    <br/>

                    <a href="/what-we-do" class="and-button">Find Out More</a>
                </div>
            </div>

        </div>
    </div>

    <?php $image = wp_get_attachment_image_src(get_field('quote_image'), 'full'); ?>
    <div class="quote hidden-sm hidden-xs" style="background-image: url('<?php echo $image[0]; ?>')">
        <div class="container-fluid">
            <div class="col-md-6">
                <iframe src="https://player.vimeo.com/video/113017896?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="quote-text">
                    <p>
                        <?php the_field('quote')?>
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="quote visible-sm visible-xs" style="min-height: initial">
        <div class="container-fluid">
            <p>
                <?php the_field('quote')?>
            </p>
        </div>
    </div>

    <div class='embed-container visible-xs visible-sm'>
        <iframe src='http://player.vimeo.com/video/113017896?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen
                allowFullScreen></iframe>
    </div>


    <div class="features">
        <div class="container-fluid">

            <div class="row">
                <?php while ( have_rows('features') ) : the_row(); ?>
                    <div class="col-sm-4">
                        <div class="feature">
                            <div class="row">
                                <?php $image = wp_get_attachment_image_src(get_sub_field('image'), 'full'); ?>
                                <a href="<?php the_sub_field('link_href') ?>">
                                    <img src="<?php echo $image[0] ?>" alt=""/>
                                </a>
                            </div>

                            <div class="title"><?php the_sub_field('title') ?></div>
                            <p><?php the_sub_field('text') ?></p>

                            <p class="visible-xs">
                                <a href="<?php the_sub_field('link_href') ?>" class="and-button"><?php the_sub_field('link_title') ?></a>
                                <br/>
                            </p>
                        </div>
                    </div>
                <?php endwhile; ?>
            </div>

            <div class="row hidden-xs" style="text-align: center">
                <?php while ( have_rows('features') ) : the_row(); ?>
                    <div class="col-sm-4">
                        <p>
                            <a href="<?php the_sub_field('link_href') ?>" class="and-button"><?php the_sub_field('link_title') ?></a>
                        </p>
                        <br/>
                        <br/>
                    </div>
                <?php endwhile; ?>
            </div>

        </div>

    </div>

</div>