body {
  color: #8a8e99;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px; }

.container-fluid, .container {
  position: relative; }

a {
  color: #d93621;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #e35b4a; }

.and-button {
  line-height: 35px;
  padding: 0 30px;
  color: white;
  background: #d93621;
  border-radius: 3px;
  font-size: 20px;
  display: inline-block;
  transition: all 0.3s ease-out; }
  .and-button:hover, .and-button:active {
    background: #e35b4a;
    color: white;
    transform: scale(1.1); }

h1, h2, h3, p {
  margin: 0 0 10px; }

p {
  line-height: 35px;
  margin-bottom: 15px; }

.divider {
  background: #e5e5e5;
  height: 1px;
  margin: 30px 0;
  clear: both; }

.title {
  font-family: 'nexa_lightregular', Helvetica, sans-serif;
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold; }
  .title:after {
    content: "";
    margin: auto;
    display: block;
    width: 40px;
    background: #d93621;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 40px; }
  .title.simple {
    margin-bottom: 40px; }
    .title.simple:after {
      display: none; }

.subtitle {
  font-family: 'nexa_lightregular', Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  font-size: 17px; }

.hero, .hero-small, .hero-mid {
  height: 700px;
  background: #1b1e24;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }
  .hero .parallax, .hero-small .parallax, .hero-mid .parallax {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 110%;
    transform: translate3d(0, 0, 0);
    will-change: transform; }
  .hero .feature, .hero-small .feature, .hero-mid .feature {
    color: white;
    font-size: 30px;
    margin-top: 350px;
    text-align: center;
    position: relative; }
  .hero .hero-title, .hero-small .hero-title, .hero-mid .hero-title {
    font-family: 'nexa_lightregular', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 350px;
    position: relative; }
    .hero .hero-title:after, .hero-small .hero-title:after, .hero-mid .hero-title:after {
      content: "";
      margin: auto;
      display: block;
      width: 70px;
      background: #d93621;
      height: 5px;
      margin-top: 10px; }

.hero-small {
  height: 300px; }
  .hero-small .hero-title {
    padding-top: 100px; }

.hero-mid {
  height: 500px; }
  .hero-mid .hero-title {
    padding-top: 200px; }

.sub-pages {
  height: 70px;
  line-height: 70px;
  background: #fafafa;
  text-align: center; }
  .sub-pages .sub-page {
    display: inline-block;
    color: #8a8e99;
    padding: 0 30px;
    cursor: pointer; }
    .sub-pages .sub-page:hover, .sub-pages .sub-page.active {
      color: #d93621; }

.quote {
  min-height: 350px;
  padding: 50px 30px;
  background-size: cover;
  background-position: right;
  background-color: white;
  text-align: center; }
  .quote .quote-center-text {
    max-width: 850px;
    margin: auto; }
  .quote .quote-left-text {
    text-align: left;
    max-width: 850px;
    margin: auto; }
  .quote .quote-text {
    margin-top: 60px;
    padding: 50px; }
  .quote .quote-benefit, .quote .quote-benefit-alt {
    text-align: left; }
    .quote .quote-benefit img, .quote .quote-benefit-alt img {
      float: left;
      width: 120px; }
    .quote .quote-benefit p, .quote .quote-benefit-alt p, .quote .quote-benefit h3, .quote .quote-benefit-alt h3 {
      padding-left: 160px; }
    .quote .quote-benefit p, .quote .quote-benefit-alt p {
      margin-bottom: 80px; }
  .quote .quote-benefit-alt {
    padding: 0 50px;
    margin: auto; }
    .quote .quote-benefit-alt img {
      width: 140px;
      margin-bottom: 100px; }
    .quote .quote-benefit-alt p, .quote .quote-benefit-alt h3 {
      padding-left: 190px; }

.features .feature {
  text-align: center;
  padding-bottom: 30px;
  margin: 0 1px; }
  .features .feature img {
    width: 100%;
    margin-bottom: 40px; }
    .features .feature img.slim {
      height: 400px;
      width: auto;
      margin-left: auto;
      margin-right: auto; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

[data-component="header"] #header, [data-component="header"] #header-transparent {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  height: 70px;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  [data-component="header"] #header .logo, [data-component="header"] #header-transparent .logo {
    margin-top: 20px;
    height: 40px;
    position: absolute; }
  [data-component="header"] #header .menu-button, [data-component="header"] #header-transparent .menu-button {
    position: absolute;
    right: 0;
    color: #d93621;
    font-size: 30px;
    padding: 15px;
    line-height: 40px;
    cursor: pointer; }
[data-component="header"] #header-transparent {
  top: 0;
  background: none;
  display: block;
  box-shadow: none; }
  [data-component="header"] #header-transparent .menu-button {
    color: white; }

[data-component="what-we-do"] .services {
  min-height: 500px;
  overflow-y: auto; }
  [data-component="what-we-do"] .services .quote-center-text {
    position: absolute;
    width: 100%;
    max-width: 100%;
    display: none; }
    [data-component="what-we-do"] .services .quote-center-text p {
      max-width: 850px;
      margin: auto; }
[data-component="what-we-do"] .content-switcher table {
  table-layout: fixed;
  background: #fafafa;
  width: 100%;
  text-align: center; }
  [data-component="what-we-do"] .content-switcher table tr td {
    padding: 30px;
    padding-bottom: 10px;
    cursor: pointer; }
    [data-component="what-we-do"] .content-switcher table tr td .title {
      font-size: 20px;
      color: #888; }
      [data-component="what-we-do"] .content-switcher table tr td .title:after {
        margin-bottom: 0;
        background: none; }
    [data-component="what-we-do"] .content-switcher table tr td.active {
      background: #e8e9eb; }
      [data-component="what-we-do"] .content-switcher table tr td.active .title {
        color: #000000; }
        [data-component="what-we-do"] .content-switcher table tr td.active .title:after {
          background: #d93621; }
[data-component="what-we-do"] .owl-item img {
  position: relative;
  margin-top: 50%;
  transform: translateY(-50%); }
[data-component="what-we-do"] .academy-banner {
  height: 400px;
  position: relative; }
  [data-component="what-we-do"] .academy-banner .academy-background {
    background-image: url('http://andigital.com/wp-content/uploads/2014/09/academy-1.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    [data-component="what-we-do"] .academy-banner .academy-background .title {
      color: white;
      padding-top: 180px; }

[data-component="who-we-are"] .people {
  padding: 2px; }
  [data-component="who-we-are"] .people .person {
    width: 20%;
    padding-top: 20%;
    background: red;
    border: 2px solid white;
    background-size: cover;
    background-position: bottom center;
    float: left;
    position: relative;
    cursor: pointer; }
    [data-component="who-we-are"] .people .person .person-alt-image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: bottom center;
      position: absolute;
      top: 0;
      opacity: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    [data-component="who-we-are"] .people .person:hover .person-alt-image {
      opacity: 1; }
[data-component="who-we-are"] .profile {
  background: white;
  margin: 2px;
  height: 800px;
  position: relative;
  float: left;
  width: 100%; }
  [data-component="who-we-are"] .profile .profile-image {
    position: absolute;
    top: 0;
    right: 65%;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center; }
  [data-component="who-we-are"] .profile .profile-content {
    background: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
    left: 35%;
    bottom: 0;
    padding: 15px 30px;
    text-align: center;
    overflow-y: auto; }
  [data-component="who-we-are"] .profile .profile-close {
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 0;
    line-height: 50px;
    width: 50px;
    text-align: center;
    color: #000000;
    cursor: pointer; }
@media (max-width: 768px) {
  [data-component="who-we-are"] .people .person {
    width: 25%;
    padding-top: 25%; }
  [data-component="who-we-are"] .people .profile .profile-image {
    position: static;
    height: 300px; }
  [data-component="who-we-are"] .people .profile .profile-content {
    position: relative;
    top: initial;
    right: initial;
    left: initial;
    bottom: initial;
    height: 400px; } }
@media (max-width: 500px) {
  [data-component="who-we-are"] .people .person {
    width: 50%;
    padding-top: 50%; } }

[data-component="footer"] {
  height: 250px;
  background-color: #1b1e24;
  text-align: center;
  color: #8a8e99;
  padding: 45px;
  font-size: 15px; }
  [data-component="footer"] i {
    padding: 15px;
    font-size: 30px;
    color: white; }
  [data-component="footer"] a {
    color: inherit;
    text-decoration: none; }
    [data-component="footer"] a:hover {
      color: white; }

[data-component="menu"] #menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 101;
  width: 300px;
  border-right: 3px solid #d93621; }
  [data-component="menu"] #menu .logo {
    background: #d93621;
    padding: 25px 15px 10px;
    color: white;
    height: 70px; }
    [data-component="menu"] #menu .logo img {
      height: 30px; }
    [data-component="menu"] #menu .logo a {
      display: inline-block; }
  [data-component="menu"] #menu ul, [data-component="menu"] #menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none; }
  [data-component="menu"] #menu ul li a {
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #fff;
    display: block;
    color: #333; }
    [data-component="menu"] #menu ul li a:hover {
      background: #fff;
      color: #d93621; }
