<div data-component="default" ng-controller="DefaultController">
    <!-- <?php $image = wp_get_attachment_image_src(get_field('hero_image'), 'full'); ?>
    <div class="hero" style="background-image: url('<?php echo $image[0] ?>')">
        <h1 class="hero-title">ANDshare</h1>
    </div>

    <div class="quote" style="height: auto">
        <div class="title">Providing seamless digital document management integration</div>

        <div class="container-fluid">
            <div class="quote-center-text">
                <p>
                    <?php the_field('definition_of_digital_text') ?>
                </p>
            </div>
        </div>
    </div> -->

        <?php
        if( have_rows('layout') ):
            while ( have_rows('layout') ) : the_row();

                if( get_row_layout() == 'hero' ): ?>

                    <?php $image = wp_get_attachment_image_src(get_sub_field('image'), 'full'); ?>
                    <div class="hero" style="background-image: url('<?php echo $image[0] ?>')">
                        <h1 class="hero-title">ANDshare</h1>
                    </div>

                <?php elseif( get_row_layout() == 'content' ): ?>

                    <div class="quote" style="min-height: initial;">
                        <?php if get_sub_field('title') { ?>
                            <div class="title"><?php the_sub_field('title') ?></div>
                        } ?>

                        <div class="quote-center-text">
                            <p><?php the_sub_field('text') ?></p>
                        </div>

                    </div>

                <?php elseif( get_row_layout() == 'carousel' ): ?>

                    <div class="quote" style="min-height: initial;">
                        <?php if get_sub_field('title') { ?>
                            <div class="title"><?php the_sub_field('title') ?></div>
                        } ?>

                        <div class="owl-carousel" id="clients-carousel">
                            <?php if( have_rows('images') ): ?>
                                <?php while ( have_rows('images') ) : the_row(); ?>
                                    <div>
                                        <?php $image = wp_get_attachment_image_src(get_sub_field('image'), 'full'); ?>
                                        <img src="<?php echo $image[0] ?>"/>
                                    </div>
                                <?php endwhile; ?>
                            <?php endif; ?>
                        </div>

                    </div>
                <?php endif;

            endwhile;
        else :
        endif;

        ?>


</div>